body {
    background-color:burlywood
}

h1 {
    text-align: center;
}

#topContainerDiv{
    position: relative;
    display: flex;
}

#currentValueDiv {
    text-align: center;
    font-size: xx-large;
    background-color: green;
    border-style: solid;
    margin-left: 36%;
    margin-top: 3%;
    padding-top: 0.5%;
    padding-right: 4%;
    padding-bottom: 0.5%;
    padding-left: 4%;
}

#startButtonDiv {
    margin-top: 3%;
}

#addButtonDiv {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 0%
}

.container {
    margin-left: 40%;
}

























